/*font-family: 'Charm', cursive;
font-family: 'Playfair Display', serif;*/

/*Set properties of body and html contents*/
body, html
{
    height: 100%;
    margin: 0;
    background-color:whitesmoke;
  }

  /*Set the text color of the tab elements to grey*/
.nav-tabs a
{
  color:gray;
}

/*Set the properties of hero image*/
.hero-image
{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/tanpura.PNG");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Set the properties of hero text*/
.hero-text
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

/*Set the properties of button within hero image*/
.hero-text button
{
  border: none;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

/*Set the properties of hero text button upon hover*/
.hero-text button:hover
{
  background-color: #555;
  color: white;
}

/*Align the header to the center*/
.container h1
{
  text-align:center;
  font-family: 'Playfair Display', serif;
}

/*Set height of carousel images to 700 px*/
.carousel-inner
{
  height: 700px;
}

/*Set padding of every form element to 40 px*/
.form-group{
  padding-top:40px;
}

*
{
  box-sizing: border-box
}

/*Add padding to containers */
.container
{
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=file]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/*Set the properties of the activated input fields*/
input[type=text]:focus, input[type=password]:focus
{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr
{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn
{
  background-color:darkcyan;
  color:white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity:0.8;
}

/*Setting hover properties for register button*/
.registerbtn:hover
{
  opacity:1;
}

/* Add a blue text color to links */
a
{
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin
{
  background-color: #f1f1f1;
  text-align: center;
}

/*Set a darkcyan background to the modal button*/
.btn-info
{
  background-color:darkcyan;
}

/*Set footer properties*/
footer
{
  left:0;
  bottom:0;
  padding-bottom:0;
  margin-bottom:0;
  width:100%;
}

/*Set footer content properties*/
footer a
{
  padding:20px;
  font-size:15px;
  width:50px;
  text-align:center;
  text-decoration:none;
  color:lightgray;
  font-family: 'Playfair Display', serif;
}

/*Set properties for footer contents upon hover*/
footer a:hover
{
  text-decoration:none;
  color:black;
}

